*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug .col {
    border: solid 1px red;
    
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

.col{
    float: left;
    width: calc(100% / 3);
    padding: 5px;
    background-color: #0F0E17;
    font-family: 'Fredoka', sans-serif;
    color: white;
    
    
}

.col img{

    height: 80px;
    float: left;
    

}

h1{
    color: #E53170;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding: 40px;
}





p{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 20px;
}
.name{
    font-weight: bold;
    margin-bottom: 10px;
    
    
}

.profession{
    margin-bottom: 10px;
    

}


.clearfix::after {
    content: '';
    clear:both;
    display: table;
}