*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1170px;
    margin: auto;
    font-family: 'Fredoka', sans-serif;

}

.columns {
    margin-bottom: 50px;
}


.col {
    float: left;
    width: calc(100% / 3 - 15px);
    background-color: #0F0E17;
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: medium;
    margin-right: 5px;
    margin-left: 10px;
}

.card{
     
    padding: 0px 15px 15px 0;
    display: inline;
    vertical-align: middle;
}


img{

    height: 100px;
    margin-right: 10px;
    
    
    
}

h1{
    color: #E53170;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    padding: 40px;
}

p{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 50px;
}

.name{
    font-weight: bold;
    margin-top: 10px; 
}
.profession{
    margin-top: 10px; 
}


.clearfix::after {
    content: '';
    clear:both;
    display: table;
}